body{
  min-height: fit-content;
}

main.container{
  margin-top: 10%;
  border: solid 1px lightgray;
  width: fit-content;
  max-width: 40rem;
  padding:3rem 4rem
}

.mon-kw{
  color: darkgreen
}

.crud-kw{
  color:grey
}

.initial-text{
  padding: 0;
  margin-bottom: 1rem;
  max-width:30rem;
  word-wrap:break-word;
}

form input{
  margin-bottom: 1rem
}