// Site Colours
$primary-color: #3D8B37;
$primary-color-alt: #5e5e5e;
$secondary-color: #e5e5e5;
$negative-color: #b20000;
$button-sec-color: white;
$italics-color: #A9A9A9;	

// Collection vars
$col-border-color: #cdcdcd;
$col-sort-selected: #56A6F7;
$col-id-background: #E5EFF9;