@import "../../styling/variables";

main {
  width: 100%;
}
.document-details {
  margin-bottom: 1rem;
}

.field {
  font-weight: bold;
  text-align: right;
}

.value-input {
  width: 100%;
  padding: 0.3rem;
}

.outcome-msg {
  margin-bottom: 1rem;
  font-size: 1rem;
  width: 100%;
  padding: 0.3rem;
  border-radius: 0.25rem;
}

.error-msg {
  color: $negative-color;
  border: 1px solid $negative-color;
}

.value {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 2rem;
}

.add-field {
  margin-top: 1rem;
  input {
    text-align: right;
    margin-bottom: 0.7rem;
  }
}

.remove-icon {
  text-align: center;
  font-size: 0.9rem;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  &:hover,
  &:focus {
    opacity: 0.4;
  }
}
