@import "../../styling/variables";

main {
  width: 100%;
}
.document-details {
  margin-bottom: 1rem;
}

.field {
  font-weight: bold;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.value-input {
  width: 100%;
  padding: 0.3rem;
}

.value {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 2rem;
  display: flex;
  align-items: center;
}

.checkbox-value{
  align-items: flex-start;
}

.nested{
  border-left: 1px solid $col-border-color;
  margin: 0.5rem 0;
}

.italic{
  color:$italics-color;
  font-style: italic
}