.document-container{
  margin:0.1rem;
  border: solid 1px lightgray;
  border-bottom: none;
  width:fit-content;
  margin-bottom: 1rem;
}

.filter-but{
  width:9rem;
  padding: 0.5rem;
  margin-bottom: 0.7rem;
}

.field-doc-col{
  max-width: 15rem;
  border-right: solid 1px lightgray;

  .row{
    border-bottom: solid 1px lightgray
  }
}

.field-doc-col:last-child{
  border-right: none
}

.document-value, .document-field{
  text-overflow: ellipsis;
  white-space: nowrap; 
  overflow: hidden;
}

.document-field{
  font-weight: bold
}

.container-cell{
  padding: 0.2rem 1rem;
}

.no-value{
  color:grey;
  font-style: italic
}

.field-doc-col a{
  width:100%
}

.document-id{
  background-color:  rgb(229,239,249)
}

form input{
  width:100%;
  padding: 0 0.2rem;
  margin-bottom: 0.4rem;
}

.paginate-but{
  width:9rem
}