@import '../../styling/variables';

.document-container{
  margin:0.1rem;
  border: solid 1px $col-border-color;
  border-bottom: none;
  width:fit-content;
  margin-bottom: 1rem;
}

.field-doc-col{
  max-width: 15rem;
  border-right: solid 1px $col-border-color;

  .row{
    border-bottom: solid 1px $col-border-color
  }
}

.field-doc-col:last-child{
  border-right: none
}

.document-value, .document-field{
  text-overflow: ellipsis;
  white-space: nowrap; 
  overflow: hidden;
}

.document-field{
  font-weight: bold
}

.container-cell{
  padding: 0.7rem;
  min-height: 2.9rem;
  min-width: 5rem;
}

.italic{
  color:$italics-color;
  font-style: italic
}

.field-doc-col a{
  width:100%
}

.sort-arrow{
  text-align: center;
  font-size: 0.9rem;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
}

.sort-1 .sort-asc, .sort1 .sort-desc{
  color: $col-sort-selected;
}

.sort-function{
  width:1.2rem;
}

.sort-function:hover, .sort-function:focus{
  opacity: 0.4;
}

.document-id{
  background-color: $col-id-background
}

form input{
  width:100%;
  padding: 0 0.2rem;
  margin-bottom: 0.4rem;
}

.sort-cont{
  min-height: 7rem;
}