@charset "utf-8";
/* CSS Document */

/* General theme and typography imports */
// Utility Imports
@import "styling/functions";
@import "styling/variables";
@import "styling/mixins";
@import "styling/placeholders";

// Resets
@import "styling/resets";

// Typography
@import "styling/typography";

// Elements styling
@import "styling/checkboxes";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  font-size: 0.9rem;
}

a div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a div:hover,
a div:focus,
button:hover,
button:focus,
button:disabled {
  opacity: 0.6;
}

a:link {
  text-decoration: inherit;
  color: inherit;
  cursor: default;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: default;
}

button {
  background-color: $primary-color;
  color: $button-sec-color;
  border: none;
  padding: 0.4rem 0;
  font-weight: bold;
  font-size: 0.9rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, opacity 0.15s ease-in-out;
}

button.secondary-but {
  color: $primary-color;
  border: solid 1px $primary-color;
  background-color: $button-sec-color;
}

button.danger-but {
  background-color: $negative-color;
}

.group-but {
  width: 5rem;
  font-size: 0.9rem;
}

/* Pagination styling */
.paginate-buttons {
  display: flex;
  justify-content: center;
  nav{
    background-color: white;
  }
}
