@import '../../styling/variables';

.collection-item{
  padding: 1rem;
  background-color: $secondary-color;
  margin-bottom: 1rem;
}

.db-filter{
  margin-bottom: 1rem;
}

main{
  width:100%;

  .explanation{
    margin-bottom: 0.5rem;
  }
}

button.clear-but{
  background-color: $primary-color-alt
}