extends ../layout
block imports-main
  link(type="text/css" rel="stylesheet" href="/static/main/collection/style.css")
  script(src="/static/main/collection/script.js" defer)
  
block content-main
  form(method='POST').new-connection
    input(type='text' name='name' autofocus placeholder='Connection name')
    input(type='text' name='uri' autofocus placeholder='Database uri')
    button(type="submit") Connect