header.container-fluid
  form.row.header-row(action="/logout" method="get")
    div.col-3.align-self-center.header-banner
      img(src="/static/images/horizontal-sm.png", alt="moncrud logo")
    button.offset-8.col-1(type="submit") Logout