extends layout

block content-main
  if hasCollections
    p You haven't set up any database connection, to set up one you must use the navigation menu
  else
    p Select one of your databases to manage its data