extends ../layout
block imports
  link(type="text/css" rel='stylesheet' href="/static/main/style.css")
  block imports-main
block content
  include header
  include navigation
  main
    block content-main