nav
  .databases
    each connection in connections
      a(href=`/main/databases/${connection.name}`)
        .nav-item= connection.name.prettyTitleCase()

    a(href=`/main/connections`)
      .nav-item.add + Add new