@import '../styling/variables';

header{
  position: fixed;
  width: 100%;
  top:0;
  left:0;
  padding:0 0.8rem;
  height: 3rem;
  background-color: $secondary-color;
  z-index: 1000
}

.header-row{
  height:100%
}

.header-row button{
  background-color: $primary-color-alt
}

.header-banner{
  margin-bottom: 0;
}

body{
  display: flex;
  width:  100%
}


nav, main{
  margin-top: 3rem;
}

main{
  padding: 1rem;
}

main h4{
  margin-bottom: 1rem;
}

nav{
  min-width:9.5rem;
  max-width:9.5rem;
  background-color: $primary-color
}

.back-button{
  color: $primary-color;
  border: solid 1px $primary-color;
  padding: 0.3rem 0.6rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.nav-item{
  padding:0.8rem;
  border-bottom: solid 1px $button-sec-color;
  color: $button-sec-color;
  font-weight: bold
}

.mon-kw{
  color: $primary-color-alt
}

.crud-kw{
  color:$primary-color
}