body {
  min-height: fit-content; }

main.container {
  margin-top: 10%;
  border: solid 1px #cdcdcd;
  width: fit-content;
  max-width: 25rem;
  padding: 3rem 4rem; }

.mon-kw {
  color: #3D8B37; }

.crud-kw {
  color: #5e5e5e; }

.initial-text {
  margin-bottom: 1rem; }

form input.col {
  width: 20rem;
  margin-bottom: 1rem; }

.error-msg {
  color: #b20000;
  margin-bottom: 1rem; }
